<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!-- 
 * Hackerspace Bremen Backend - An Open-Space-Notifier
 * 
 * Copyright (C) 2012 Steve Liedtke <sliedtke57@gmail.com>
 * 
 * This program is free software; you can redistribute it and/or modify it under the terms of the 
 * GNU General Public License as published by the Free Software Foundation; either version 3 of 
 * the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See 
 * the GNU General Public License for more details.
 * 
 * You can find a copy of the GNU General Public License on http://www.gnu.org/licenses/gpl.html.
 * 
 * Contributors:
 *     Steve Liedtke <sliedtke57@gmail.com>
-->
<web-app 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	version="2.5" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	>
	<display-name>Open Space Notifier</display-name>
	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>de.hackerspacebremen.modules.MyGuiceServletContextListener</listener-class>
	</listener>
	
	<welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
	
	<security-constraint>
    	<web-resource-collection>
      		<web-resource-name>any</web-resource-name>
      		<url-pattern>/cmd/*</url-pattern>
      		<url-pattern>/register</url-pattern>
      		<url-pattern>/unregister</url-pattern>
      		<url-pattern>/activate</url-pattern>
      		<!-- VERSION 2 -->
      		<url-pattern>/v2/cmd/*</url-pattern>
      		<url-pattern>/v2/gcm/*</url-pattern>
      		<url-pattern>/v2/apns/*</url-pattern>
      		<url-pattern>/</url-pattern>
      	</web-resource-collection>
      	<user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
  	</security-constraint>
  	<security-constraint>
        <web-resource-collection>
            <url-pattern>/v2/task/*</url-pattern>
            <url-pattern>/v2/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
  	<security-constraint>
    	<web-resource-collection>
      		<web-resource-name>httpGets</web-resource-name>
      		<url-pattern>/status</url-pattern>
      		<!-- VERSION 2 -->
      		<url-pattern>/v2/status</url-pattern>
      		<url-pattern>/v2/status.rss</url-pattern>
      		<http-method>GET</http-method>
      	</web-resource-collection>
      	<user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
  	</security-constraint>
</web-app>